{% render(controller("WlmEquipmentBundle:Master:profile",{'master':master.id})) %}


<div id="modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
  <form id="newClientModalForm" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <input id="newClientModalSubmit" type="submit" value="Enregistrer" class="btn btn-primary" />
  </form>

  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Fermer</button>

  </div>
</div>