{% extends '::layoutMet2.html.twig' %}

{% block body %}

	<div class="navbar">
	  <div class="navbar-inner">
	    <ul class="nav">
	      <li class="active"><a href="#">Mon profil</a></li>
	    </ul>
	  </div>
	</div>


	{% block bodyWriter %}
	{% endblock %}
{% endblock %}